{{ define "main" }}
<main role="main" 
      class="column is-two-thirds">
  <section class="blog-post box">
  <h4 class="title is-4">{{ .Section }}</h4>

  {{ .Content }}

  <ul>
    {{ range .Data.Pages }}
    <li>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
  </section>
</main>
{{ end }}

{{ define "aside" }}
  <aside class="column is-one-thirds">
    <div class="box">
      This is a default list page.
    </div>
  </aside>
{{ end }}
