{{ define "main" }}
  <main role="main" 
        class="column is-two-thirds">
    <article class="blog-post box">
      <h4 class="title is-4"
         >{{ .Title | default .Site.Title }}</h4>
      {{ .Content }}
    </article>
  </main>
{{ end }}

{{ define "aside" }}
  <aside class="column is-one-thirds">
    <div class="box">
      This is a default single page.
    </div>
  </aside>
{{ end }}
