{{ define "main" }}
  {{ $color := "orange" }}
  <main role="main" 
        class="column is-full">

    <section class="main-wrapper {{ $color }}">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header {{ $color }} lighten-5">
          {{ partial "page/blog-header.html" . }}
        </section>

        <article class="blog-body" itemprop="articleBody">
         {{ .Content }}
         {{ block "index-by-month" . }}{{ end }}
        </article>

      </div>
    </section>

  </main>
{{ end }}

{{ define "index-by-year" }}
  {{ $color := "orange" }}
  {{ $posts := where .Site.Pages "Type" "post" }}

  {{ range ($posts.GroupByDate "2006") }}
    <div class="archive">
      {{ $dict := (dict "Color" $color "Key" .Key "Pages" .Pages) }}
      {{ partial "index/by-year-box.html" $dict }}
    </div>
  {{ end }}
{{ end }}

{{ define "index-by-month" }}
  {{ $color := "orange" }}
  {{ $posts := where .Site.Pages "Type" "post" }}

  {{ range ($posts.GroupByDate "2006") }}
    <div class="archive">
      {{ $dict := (dict "Color" $color "Key" .Key "Pages" .Pages) }}
      {{ partial "index/by-month-box.html" $dict }}
    </div>
  {{ end }}
{{ end }}
