
  <div class ="anchor-target archive-year" 
       id="{{ .Key }}"><strong>{{ .Key }}</strong></div>

  <div class="archive-list">
  {{ range .Pages }}
    <div class="archive-item meta-item">
      <div class="meta_link has-text-right">
        <time class="meta_time is-pulled-right"
              datetime="{{ .Page.Date.Format "2006-01-02T15:04:05Z07:00" }}">
          {{ .Date.Format "02 Jan" }}&nbsp;
          &nbsp;<span class="fa fa-calendar"></span></time></div>
      <div class="is-pulled-left">
      <a href="{{ .Permalink }}">
        {{ .Title }}
      </a></div>
      <div class="is-clearfix"></div>
    </div>
  {{ end }}
  </div>
