
  <div class="field is-grouped is-grouped-multiline">
  {{ range $key, $value := .Data.Terms }}
    <div class="tags has-addons">
      {{ $posts := where $value.Pages "Type" "post" }}
      {{ $postCount := len $posts -}}

      {{ if $postCount }}
      <a href="{{ "/" | relLangURL }}{{ $.Data.Plural | urlize }}/{{ $key | urlize }}">
        <div class="tag is-light light-blue lighten-2 z-depth-1"
          >{{ $key }}
        </div><div class="tag is-dark light-blue darken-2 z-depth-1"
          >{{ $postCount }}
        </div>
      </a>
      {{ end }}
    </div>
    &nbsp;
  {{- end }}
    <div class="tags dummy"></div>
  </div>
