
  <ul>
    {{ range $key, $value := .Data.Terms }}
    <li>
      {{ $posts := where $value.Pages "Type" "post" }}
      {{ $postCount := len $posts -}}

      <a href="{{ "/" | relLangURL }}{{ $.Data.Plural | urlize }}/{{ $key | urlize }}">
        {{ $key }} ({{ $postCount }})</a>
    </li>
    {{- end }}
  </ul>
