{{ define "main" }}
  <main role="main" 
        class="column is-two-thirds">

    <section class="main-wrapper brown">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header brown lighten-5">
          {{ partial "page/blog-header.html" . }}
        </section>

        <article class="blog-body" itemprop="articleBody">
          {{ .Content }}
          {{ block "index" . }}{{ end }}
        </article>

      </div>
    </section>

  </main>
{{ end }}

{{ define "aside" }}
  <aside class="column is-one-thirds">

    <section class="aside-wrapper green">
      <div class="widget white z-depth-3 hoverable">

        <div class="widget-header green lighten-4">
          <strong>Side Menu</strong>
          <span class="fas fa-infinity is-pulled-right"></span>
        </div>

        <div class="widget-body">
          This is a list archive page.
        </div>

      </div>
    </section>

  </aside>
{{ end }}

{{ define "index" }}
  {{ $posts := where .Site.Pages "Type" "post" }}

  <div class="post-list">
  {{ range $posts }}
    <div class="archive p-b-10">
      {{ partial "index/blog-list.html" . }}
    </div>
  {{ end }}
  </div>
{{ end }}
