{{ define "main" }}
  <main role="main" 
        class="column is-two-thirds">

    <section class="main-wrapper orange">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header orange lighten-5">
          {{ partial "page/blog-header.html" . }}
        </section>

        <article class="blog-body" itemprop="articleBody">
         {{ .Content }}
         {{ block "index" . }}{{ end }}
        </article>

      </div>
    </section>

  </main>
{{ end }}

{{ define "aside" }}
  <aside class="column is-one-thirds">

    <section class="aside-wrapper teal">
      <div class="widget white z-depth-3 hoverable">

        <div class="widget-header teal lighten-4">
          <strong>Side Menu</strong>
          <span class="fas fa-fingerprint is-pulled-right"></span>
        </div>

        <div class="widget-body">
         This is a single archive page.
        </div>

      </div>
    </section>

  </aside>
{{ end }}

{{ define "index" }}
  {{ $posts := where .Site.Pages "Type" "post" }}

  {{ range ($posts.GroupByDate "2006") }}
    <div class="archive">
      {{ partial "index/by-month.html" . }}
    </div>
  {{ end }}
{{ end }}
