{{ define "main" }}
  <main role="main" 
        class="column is-two-thirds">

    <section class="main-wrapper blue">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header blue lighten-5">
          <div class="main_title"> 
            <h4 class="title is-4" itemprop="name headline">
              <a href="{{ .Permalink }}"
                >{{ .Title | default .Site.Title }}</a></h4>
            <p><strong>{{ .Page.Date.Format "January 02, 2006" }}</strong></p>
          </div>
        </section>

        <article class="blog-body" itemprop="articleBody">
          {{ .Content }}
        </article>

      </div>
    </section>

  </main>
{{ end }}

{{ define "aside" }}
  <aside class="column is-one-thirds">

    <section class="aside-wrapper teal">
      <div class="widget white z-depth-3 hoverable">

        <div class="widget-header teal lighten-4">
          <strong>Side Menu</strong>
          <span class="fas fa-scroll is-pulled-right"></span>
        </div>

        <div class="widget-body">
          This is a single post page.
        </div>

      </div>
    </section>

  </aside>
{{ end }}

