<!DOCTYPE html>
<html lang="en">

<head>
  {{ partial "site/head.html" . }}
</head>

<body>
  <!-- header -->
  {{ partial "site/header.html" . }}

  <!-- main -->
  <div class="columns is-8 layout-base maxwidth">
      {{- block "main" . }}
      {{ .Content }}
      {{- end }}

      {{- block "aside" . }}{{- end }}
  </div>

  <!-- footer -->
  {{ partial "site/footer.html" . }}
  {{ partial "site/scripts.html" . }}
</body>

</html>

