{{ define "main" }}
  <main role="main" 
        class="column is-two-thirds">

    <section class="main-wrapper cyan">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header cyan lighten-5">
          {{ partial "page/section-header.html" . }}
        </section>

        <article class="blog-body" itemprop="articleBody">
         {{ .Content }}
         {{ block "index" . }}{{ end }}
        </article>

      </div>
    </section>

  </main>
{{ end }}

{{ define "aside" }}
  <aside class="column is-one-thirds">

    <section class="aside-wrapper purple">
      <div class="widget white z-depth-3 hoverable">

        <div class="widget-header purple lighten-4">
          <strong>Side Menu</strong>
          <span class="fas fa-infinity is-pulled-right"></span>
        </div>

        <div class="widget-body">
          This is a default list page.
        </div>

      </div>
    </section>

  </aside>
{{ end }}

{{ define "index-01-simple-list" }}
  <ul>
    {{ range .Data.Pages }}
    <li>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
{{ end }}


{{ define "index-02-simple-div" }}
  {{ range .Data.Pages }}
    <div><a href="{{ .Permalink }}">
      {{ .Title }}
    </a></div>
  {{ end }}
{{ end }}

{{ define "index-03-styled-div" }}
  <div class="archive-list">
  {{ range .Data.Pages }}
    <div class="archive-item meta-item">
      <div class="meta_link has-text-right">
        <time class="meta_time is-pulled-right"
              datetime="{{ .Page.Date.Format "2006-01-02T15:04:05Z07:00" }}">
          {{ .Date.Format "02 Jan" }}&nbsp;
          &nbsp;<span class="fa fa-calendar"></span></time></div>
      <div class="is-pulled-left">
      <a href="{{ .Permalink }}">
        {{ .Title }}
      </a></div>
      <div class="is-clearfix"></div>
    </div>
  {{ end }}
  </div>
{{ end }}

{{ define "index" }}
  {{ $posts := where .Data.Pages "Type" "post" }}

  {{ range ($posts.GroupByDate "2006") }}
    <div class="archive">
      {{ partial "index/by-month.html" . }}
    </div>
  {{ end }}
{{ end }}
