{{ define "main" }}
  <main role="main" 
        class="column is-two-thirds">

    <section class="main-wrapper light-blue">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header light-blue lighten-5">
          {{ partial "page/section-header.html" . }}
        </section>

        <article class="blog-body" itemprop="articleBody">
         {{ .Content }}
         {{ partial "index/terms-badge.html" . }}
         {{ partial "index/terms-tree.html" . }}
        </article>

      </div>
    </section>

  </main>
{{ end }}

{{ define "aside" }}
  <aside class="column is-one-thirds">

    <section class="aside-wrapper pink">
      <div class="widget white z-depth-3 hoverable">

        <div class="widget-header pink lighten-4">
          <strong>Side Menu</strong>
          <span class="fas fa-infinity is-pulled-right"></span>
        </div>

        <div class="widget-body">
          This is a default terms page.
        </div>

      </div>
    </section>

  </aside>
{{ end }}

