{{ define "main" }}
  {{ $color := "teal" }}
  <main role="main" 
        class="column is-full">

    <section class="main-wrapper {{ $color }}">
      <div class="widget white z-depth-3 hoverable">

        <div class="widget-header {{ $color }} lighten-4">
          <form action="get" id="search_site">
            <label for="search_box">Search</label>
            <input type="text" id="search_box" name="query">
            <input type="submit" value="search">
          </form>
        </div>
    
        <div class="widget-body">
          <ul id="search_results" class="list-unstyled"></ul>
        </div>

      </div>
    </section>

  </main>
{{ end }}

{{ define "custom-javascript" }}
    <script src="{{ "js/search-native.js" | relURL }}"></script>
{{ end }}
