{{ $color := .Color }}
{{ $year := .Key }}

  <div class="widget white z-depth-3 hoverable">

    <div class="widget-header {{ $color }} lighten-4">      
      <div class ="anchor-target archive-year" 
           id="{{ $year }}">
         {{- if eq .Key (now.Format "2006") -}}
           <strong>This year's posts ({{ $year }})</strong>
         {{- else -}}
           <strong>{{ .Key }}</strong>
         {{- end -}}
       </div>
    </div>
    
    <div class="widget-body responsive-img">
      {{ range (.Pages.GroupByDate "January") }}
      {{ $month := .Key }}
      <div class="p-b-5">
        <div class ="archive-month" 
             id="{{ $year }}-{{ $month }}">
             {{ $month }} - {{ $year }}</div>

        <div class="archive-list">
          {{ range .Pages }}
          <div class="archive-item meta-item">
            <div class="meta_link has-text-right">
              <time class="meta_time is-pulled-right"
                    datetime="{{ .Page.Date.Format "2006-01-02T15:04:05Z07:00" }}">
                {{ .Date.Format "02 Jan" }}&nbsp;
                &nbsp;<span class="fa fa-calendar"></span></time></div>
            <div class="is-pulled-left">
            <a href="{{ .Permalink }}">
              {{ .Title }}
            </a></div>
            <div class="is-clearfix"></div>
          </div>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>

  </div>
