{{ $color := .Color }}
{{ $data  := .Data }}

  <section class="p-y-5" id="archive">
    {{ range $key, $value := $data.Terms }}
      {{ $posts := where $value.Pages "Type" "post" }}
      {{ $postCount := len $posts -}}

      {{ if $postCount }}
          <div class="widget white z-depth-3 hoverable">

            <div class="widget-header {{ $color }} lighten-4">
              <div id="{{ $key }}" class ="anchor-target">
                {{ if eq "tag" $data.Singular }}
                  <span class="fa fa-tag"></span>
                {{ else }}
                  <span class="fa fa-folder"></span>
                {{ end }}
        
                <a href="{{ "/" | relLangURL }}{{ $data.Plural | urlize }}/{{ $key | urlize }}">
                {{ $key }}</a>
              </div>
            </div>
    
            <div class="widget-body responsive-img">
              <div class="archive-list p-y-5">
              {{ range where $value.Pages "Type" "post" }}
                <div class="archive-item meta-item">
                  <div class="meta_link has-text-right">
                    <time class="meta_time is-pulled-right"
                          datetime="{{ .Page.Date.Format "2006-01-02T15:04:05Z07:00" }}">
                      {{ .Date.Format "02 Jan" }}&nbsp;
                      &nbsp;<span class="fa fa-calendar"></span></time></div>
                  <div class="is-pulled-left">
                  <a href="{{ .Permalink }}">
                    {{ .Title }}
                  </a></div>
                  <div class="is-clearfix"></div>
                </div>
              {{ end }}
              </div>
            </div>

          </div>
      {{ end }}
      
    {{- end }}
  </section>
