{{ define "main" }}
  <h2>{{ .Title | default (humanize .Section) }}</h2>
  <strong>This is a page kind layout.</strong>
  <br/>

  {{ .Content }}

  <ul>
    {{ range .Data.Pages }}
    <li>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>

  <blockquote>Any question? <b>Good Luck</b>.</blockquote>
{{ end }}
