{{ define "main" }}
  <h2>{{ .Title | default .Site.Title }}</h2>
  <strong>This is a page kind layout.</strong>
  <br/>

<blockquote>I pour the <b>journal</b> as daily letter.</blockquote>

{{ .Content }}
{{ end }}
