{{ define "main" }}
  <main role="main" 
        class="column is-full">
    <article class="blog-post box">
      <h4 class="title is-4"
         >{{ .Title | default .Site.Title }}</h4>
      {{ .Content }}
    </article>

    <div class="box">
      This is a home kind layout,
      to show landing page.
    </div>
  </main>
{{ end }}
