{{ $color := "green" }}

<section class="aside-wrapper {{ $color }}">
  <div class="widget white z-depth-3 hoverable">

    <div class="widget-header {{ $color }} lighten-4">
      <strong>Affiliates</strong>
      <span class="fas fa-fingerprint is-pulled-right"></span>
    </div>
    
    <div class="widget-body">
      <ul class="widget-list">
        <li><a href="http://epsi-rns.github.io/"
              >Linux/BSD Desktop Customization</a></li>
        <li><a href="http://epsi-rns.gitlab.io/"
              >Mobile/Web Development Blog</a></li>
        <li><a href="http://oto-spies.info/"
              >Car Painting and Body Repair.</a></li>
        <li><a href="https://akutidaktahu.netlify.com/"
              >Hexo: Usaha Kecil Menengah</a></li>
        <li><a href="https://eleventy-step.netlify.com/"
              >Eleventy: Step by Step Demo</a></li>
        <li><a href="https://gitlab.com/epsi-rns/tutor-jekyll-bulma-md"
              >Jekyll: Bulma Material Design</a></li>
      </ul>
    </div>

  </div>
</section>
