{{ $color := "yellow" }}

<section class="aside-wrapper {{ $color }}">
  <div class="widget white z-depth-3 hoverable">

    <div class="widget-header {{ $color }} lighten-4">
      <strong>BSD/Linux Customization</strong>
      <span class="fas fa-fingerprint is-pulled-right"></span>
    </div>
    
    <div class="widget-body">
      <ul class="widget-list">
        {{ range first 5 (shuffle .Site.Data.archives_github) }}
        <li><a href="http://epsi-rns.github.io{{ .url }}">{{ .title }}</a></li>
        {{ end }}
      </ul>
    </div>

  </div>
</section>
