{{ if .Params.related_link_ids }}
{{ $color := "light-green" }}

<section class="aside-wrapper {{ $color }}">
  <div class="widget white z-depth-3 hoverable">

    <div class="widget-header {{ $color }} lighten-4">
      <strong>Related Posts</strong>
      <span class="fa fa-link is-pulled-right"></span>
    </div>
    
    <div class="widget-body">
      <ul class="widget-list">
      {{ range $cur := .Params.related_link_ids }}
        <li>   
          {{ range $.Site.Data.archives }}

            {{- if eq $cur (print .id) -}}
            <a href="{{ .url | absURL }}">{{ .title }}</a>
            {{- end -}}

          {{ end }}
        </li>
      {{ end }}
      </ul>
    </div>

  </div>
</section>
{{ end }}
