{{ $color := "cyan" }}

<section class="aside-wrapper {{ $color }}">
  <div class="widget white z-depth-3 hoverable">

    <div class="widget-header {{ $color }} lighten-4">
      <strong>Tags</strong>
      <span class="fa fa-tag is-pulled-right"></span>
    </div>
    
    <div class="widget-body">
      {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
        {{ $path := $name | urlize }}
        <a class="tag is-small is-light
                  {{ $color }} z-depth-1 hoverable p-b-5"
           href="{{ printf "tags/%s" $path | absURL }}">
          <span class="fa fa-tag"></span>&nbsp;{{ $name }}
        </a>&nbsp;
      {{ end }}
    </div>

  </div>
</section>
