{{ define "main" }}
  <h2>{{ .Title | default .Site.Title }}</h2>
  <pre>{{ .Date.Format "2006, 02 January" }}</pre>
  <br/>

  <strong>This is a post kind layout.</strong>
  <br/>

{{ .Content }}

{{ end }}
