{{ define "main" }}
  <main role="main" 
        class="column is-two-thirds">

    <section class="main-wrapper blue">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header blue lighten-5">
          {{ partial "post/blog-header.html" . }}
        </section>

        <article class="blog-body" itemprop="articleBody">
          {{ .Content }}
        </article>

      </div>
    </section>

  </main>
{{ end }}

{{ define "aside" }}
  <aside class="column is-one-thirds">

    <section class="aside-wrapper teal">
      <div class="widget white z-depth-3 hoverable">

        <div class="widget-header teal lighten-4">
          <strong>Side Menu</strong>
          <span class="fas fa-scroll is-pulled-right"></span>
        </div>

        <div class="widget-body">
          This is a single post page.
        </div>

      </div>
    </section>

  </aside>
{{ end }}

