
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ .Page.Title | default .Site.Title }}</title>

  <link rel="stylesheet" type="text/css"
        href="{{ "css/bulma.css" | relURL }}">
  <link rel="stylesheet" type="text/css"
        href="{{ "css/helper.css" | relURL }}">
  <link rel="stylesheet" type="text/css"
        href="{{ "css/fontawesome.css" | relURL }}">
  <link rel="stylesheet" type="text/css"
        href="{{ "css/main.css" | relURL }}">

  <link rel="shortcut icon" type="image/x-icon"
        href="{{ "favicon.ico" | relURL }}" />
