
  <div class="main_title"> 
    <h1 class="title is-4" itemprop="name headline">
      <a href="{{ .Permalink }}"
        >{{ .Title | default .Site.Title }}</a></h1>
    <p><strong>{{ .Page.Date.Format "January 02, 2006" }}</strong></p>
  </div>
