@charset "UTF-8";
html {
  height: 100%;
  overflow-y: auto;
}

body {
  min-height: 100%;
}

.maxwidth {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1280px) {
  .maxwidth {
    max-width: 1280px;
  }
}
.layout-base {
  padding-top: 5rem;
}

footer.site-footer {
  padding-top: 3rem;
}

.blog {
  padding: 0px;
}

.blog-header {
  padding: 5px 10px 5px 10px;
}

.blog-body {
  padding: 5px 10px 5px 10px;
}

.widget {
  padding: 0px;
}

.widget-header {
  padding: 5px 10px 5px 10px;
}

.widget-body {
  padding: 5px 10px 5px 10px;
}

main.column,
aside.column {
  padding: 0 !important;
}

.main-wrapper,
.aside-wrapper {
  padding: 0 10px 0 10px;
}

.main-wrapper,
.aside-wrapper {
  margin-bottom: 20px;
}

@media screen and (min-width: 769px), print {
  .main-wrapper {
    margin-right: 10px;
    margin-left: 10px;
  }

  .aside-wrapper {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (min-width: 1280px) {
  .main-wrapper {
    margin-left: 0px;
  }

  .aside-wrapper {
    margin-right: 0px;
  }

  .is-full .main-wrapper {
    margin-right: 0px;
  }
}
body {
  background-image: url("../images/light-grey-terrazzo.png");
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.blog-header .title a {
  color: #424242;
}

.blog-body p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

ul.widget-list li:hover {
  background: #fff176;
}

ul.widget-list {
  padding: 0px;
}

ul.widget-list {
  padding-left: 0;
  list-style: none;
  font-size: 13px;
  margin-left: 20px;
}

ul.widget-list li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  color: #9e9e9e;
  margin: 0 5px 0 -12px;
}

ul.widget-list li:hover:before {
  color: #ffeb3b;
}

.archive-year {
  font-weight: bold;
}

div.archive-list {
  padding-left: 10px;
  padding-right: 10px;
}

.archive-list .archive-item:nth-child(even) {
  background-color: #fafafa;
}
.archive-list .archive-item:nth-child(odd) {
  background-color: #f5f5f5;
}
.archive-list .archive-item:hover {
  background-color: #fff176;
}

.meta-item:nth-child(even) {
  background-color: #fafafa;
}

.meta-item:nth-child(odd) {
  background-color: #f5f5f5;
}

.meta-item:hover {
  background-color: #fff176;
}

/*# sourceMappingURL=main.css.map */
