{{ define "main" }}
  <main role="main" 
        class="column is-two-thirds">

    <section class="main-wrapper cyan">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header cyan lighten-5">
          <div class="main_title"> 
            <h4 class="title is-4" itemprop="name headline">
              {{ humanize .Section }}</h4>
          </div>
        </section>

        <article class="blog-body" itemprop="articleBody">
          {{ .Content }}
          {{ block "index" . }}{{ end }}
        </article>

      </div>
    </section>

  </main>
{{ end }}

{{ define "aside" }}
  <aside class="column is-one-thirds">

    <section class="aside-wrapper purple">
      <div class="widget white z-depth-3 hoverable">

        <div class="widget-header purple lighten-4">
          <strong>Side Menu</strong>
          <span class="fas fa-infinity is-pulled-right"></span>
        </div>

        <div class="widget-body">
          This is a default list page.
        </div>

      </div>
    </section>

  </aside>
{{ end }}

{{ define "index" }}
  <ul>
    {{ range .Data.Pages }}
    <li>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
{{ end }}

