{{ define "main" }}
  <main role="main" 
        class="column is-two-thirds">

    <section class="main-wrapper indigo">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header indigo lighten-5">
          <div class="main_title"> 
            <h4 class="title is-4" itemprop="name headline">
              {{ humanize .Section }}</h4>
          </div>
        </section>

        <article class="blog-body" itemprop="articleBody">
          {{ .Content }}
          {{ block "index" . }}{{ end }}
        </article>

      </div>
    </section>

  </main>
{{ end }}

{{ define "aside" }}
  <aside class="column is-one-thirds">

    <section class="aside-wrapper teal">
      <div class="widget white z-depth-3 hoverable">

        <div class="widget-header teal lighten-4">
          <strong>Side Menu</strong>
          <span class="fas fa-infinity is-pulled-right"></span>
        </div>

        <div class="widget-body">
          This is a default taxonomy page.
        </div>

      </div>
    </section>

  </aside>
{{ end }}

{{ define "index" }}
  <div class="archive-list">
  {{ range .Data.Pages }}
    <div class="archive-item meta-item">
      <div class="meta_link has-text-right">
        <time class="meta_time is-pulled-right"
              datetime="{{ .Page.Date.Format "2006-01-02T15:04:05Z07:00" }}">
          {{ .Date.Format "02 Jan" }}&nbsp;
          &nbsp;<span class="fa fa-calendar"></span></time></div>
      <div class="is-pulled-left">
      <a href="{{ .Permalink }}">
        {{ .Title }}
      </a></div>
      <div class="is-clearfix"></div>
    </div>
  {{ end }}
  </div>
{{ end }}

