{{ define "main" }}
  <main role="main" 
        class="column is-two-thirds">

    <section class="main-wrapper light-blue">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header light-blue lighten-5">
          <div class="main_title"> 
            <h4 class="title is-4" itemprop="name headline">
              {{ humanize .Section }}</h4>
          </div>
        </section>

        <article class="blog-body" itemprop="articleBody">
          {{ .Content }}
          {{ block "index-header" . }}{{ end }}
          {{ block "index-body" . }}{{ end }}
        </article>

      </div>
    </section>

  </main>
{{ end }}

{{ define "aside" }}
  <aside class="column is-one-thirds">

    <section class="aside-wrapper pink">
      <div class="widget white z-depth-3 hoverable">

        <div class="widget-header pink lighten-4">
          <strong>Side Menu</strong>
          <span class="fas fa-infinity is-pulled-right"></span>
        </div>

        <div class="widget-body">
          This is a default terms page.
        </div>

      </div>
    </section>

  </aside>
{{ end }}

{{ define "index-header" }}
  <div class="field is-grouped is-grouped-multiline">
  {{ range $key, $value := .Data.Terms }}
    <div class="tags has-addons">
      {{ $posts := where $value.Pages "Type" "post" }}
      {{ $postCount := len $posts -}}

      {{ if $postCount }}
      <a href="{{ "/" | relLangURL }}{{ $.Data.Plural | urlize }}/{{ $key | urlize }}">
        <div class="tag is-light light-blue lighten-2 z-depth-1"
          >{{ $key }}
        </div><div class="tag is-dark light-blue darken-2 z-depth-1"
          >{{ $postCount }}
        </div>
      </a>
      {{ end }}
    </div>
    &nbsp;
  {{- end }}
    <div class="tags dummy"></div>
  </div>
{{ end }}

{{ define "index-body" }}
  <ul>
    {{ range $key, $value := .Data.Terms }}
    <li>
      {{ $posts := where $value.Pages "Type" "post" }}
      {{ $postCount := len $posts -}}

      <a href="{{ "/" | relLangURL }}{{ $.Data.Plural | urlize }}/{{ $key | urlize }}">
        {{ $key }} ({{ $postCount }})</a>
    </li>
    {{- end }}
  </ul>
{{ end }}

