{{ define "main" }}
  <main role="main" 
        class="column is-two-thirds">
    <div class="blog-post box">
      <section>
        <h4 class="title is-4"
           >{{ .Title | default .Site.Title }}</h4>
        <p><strong>{{ .Page.Date.Format "January 02, 2006" }}</strong></p>
      </section>

      <article>
        {{ .Content }}
      </article>
    </div><!-- /.blog-post -->
  </main>
{{ end }}

{{ define "aside" }}
  <aside class="column is-one-thirds">
    <div class="box">
      This is a single post page.
    </div>
  </aside>
{{ end }}
